h1 {
    margin: auto;
    text-align: center;
}
p {
    background-color: aquamarine;
    color: brown;
    font-weight: bold;
    width: 50%;
    /* display: inline; */
    float: left;
}

img {
    height: 300px;
    display: block;
    margin: auto;
}